<!DOCTYPE html>
<html>
<head>
    <style>
    iframe {
        width: 500px;
        height: 300px;
    }
    </style>
</head>
<body>
    <iframe src="http://localhost:3000/?username={{username}}&otherUser={{otherUser}}"></iframe>
    <p id="notification"></p>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
        $(function () {
            var username = "{{username}}";
            var socket = io();
            socket.emit('room name',username);
            socket.on('notification', function(data){
                $('#notification').append($('<p>').text("new message"));
            });
      });
      </script>
</body>
</html>