<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <p id="notification"></p>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
        $(function () {
            var username = "{{username}}";
            var socket = io();
            socket.emit('room name',username);
            socket.on('notification', function(data){
                $('#notification').append($('<p>').text("new message"));
            });
      });
      </script>
</body>
</html>