@charset "UTF-8";
.navbar{
	background-color:#b3ffff;
	height: 60px;
    width: 100%;
}
.button{
	font-size: 20px;
	float: right;
	background-color: white;
  	color: black;
  	border: 2px solid black;
  	border-radius: 8px;
}
.button:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}